@font-face {
    font-family: customFont;
    src: url('../assets/custom-font.ttf');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    border: 0;
    cursor: pointer;
}

button,
input,
select,
textarea {
    font-size: 100%;
    resize: none;
    font-family: customFont, "微软雅黑", sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-color: #ffffff;
    font-family: customFont, "微软雅黑", sans-serif;
}